
.contact-us--section-hero{
    position: absolute;
    z-index: -1;
    opacity: 0.4;
    // width: 100vw;
    // height: 100vh;
    img{
        width: 100%;
        height: 100%;
        display: none;
    }
}

.contact-us--section-about{
    opacity: 0;
    animation: faded 1s ease-in-out forwards;
    margin-top: 120px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    gap: 50px;
    margin-bottom: 120px;
    font-family: 'Poppins', sans-serif;
    // flex-flow: wrap;
    .contact-us--left-section{
        // padding: 0 50px 0 0;
        width: 50%;
        .contact-us--about-logo{
            font-size: 80px;
            display: flex;
            font-family: 'Poppins', sans-serif;
            p{
                color: rgb(0, 152, 255);
            }
            .contact-us-logo--symbol{
                font-size: 95px;
                letter-spacing: -20px;
            }
        }
        .contact-us--main-header{
            .contact-us--main-header-title{
                display: flex;
                flex-direction: column;
                margin-bottom: 30px;
                h1{
                    font-family: 'Poppins-SemiBold', sans-serif;
                    font-size: 36px;
                    color: #222;
                    // outline: 1px solid red;
                }
                p{
                    font-family: 'Poppins-Medium', sans-serif;
                    font-size: 14px;
                    color: #777;
                    // padding: 0 16px 0 0;
                    // outline: 1px solid red;
                }
            }
            .about-picture{

            }
        }
    }
    .contact-us--right-section{
        width: 50%;
        margin-top: 30px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .contact-us--right-content{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            height: 100%;
        }

        .contact-us--form{
            width: 100%;
            display: flex;
            flex-direction: column;
            .contact-us--input-label-wrap{
                display: flex;
                justify-content: space-between;
                margin-bottom: 20px;
            }
        }
        
    }
}


@keyframes faded {
    from{
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media only screen and (max-width: 1200px) {
    .contact-us--section-about{
        flex-flow: wrap;
        .contact-us--left-section{
            width: 100%;
        }
        .contact-us--right-section{
            width: 100%;
        }
    }
}
