
.contact-us--section-hero{
    position: absolute;
    z-index: -1;
    opacity: 0.4;
    // CLEAN THIS AFTER
    // width: 100vw;
    // height: 100vh;
    img{
        width: 100%;
        height: 100%;
        display: none;
    }
}

.contact-us--section-about{
    height: auto;
    width: 40%;
    animation: faded 1s ease-in-out forwards;
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    border: 1px solid red;
    background-color: white;
    .contact-us--main-section{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-bottom: 70px;
        .contact-us--about-logo{
            font-size: 80px;
            display: flex;
            font-family: 'Poppins', sans-serif;
            p{
                color: rgb(0, 152, 255);
            }
            .contact-us-logo--symbol{
                font-size: 95px;
                letter-spacing: -20px;
            }
        }
        .contact-us--main-header{
            .contact-us--main-header-title{
                display: flex;
                flex-direction: column;
                margin-bottom: 30px;
                h1 {
                    font-family: 'Poppins-SemiBold', sans-serif;
                    font-size: 1.9rem;
                    color: #222;
                }
                p {
                    font-family: 'Poppins-Medium', sans-serif;
                    font-size: 1rem;
                    color: #777;
                }
            }
        }

        .contact-us--form{
            // remove height after;
            height: auto;
            width: auto;
            padding: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            background: rgba(255, 255, 255, 1);
            backdrop-filter: blur(0px);
            box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.1);
            border-radius: 5px;
            .contact-us--input-label-wrap{
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                margin-bottom: 1rem;
            }
        }
    }
}

@keyframes faded {
    from{
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media only screen and (max-width: 1200px) {
    .contact-us--section-about{
        flex-flow: wrap;
        .contact-us--left-section{
            width: 100%;
        }
        .contact-us--right-section{
            width: 100%;
        }
    }
}
