.about-page--about-logo{
    max-width: 350px;
}


.about-page--wrap{
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
}

@keyframes fadeIn {
    from{
        opacity: 0;
    }
    to {
        opacity: 1;
    }
    
}

.about-page--section-about {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-bottom: 120px;
    // flex-flow: wrap;
    .about-page--left-section{
        // padding: 0 50px 0 0;
        width: 100%;
        .about-page--about-logo{
            font-size: 80px;
            display: flex;
            font-family: 'Poppins', sans-serif;
            p{
                color: rgb(0, 152, 255);
            }
            .about-page-logo--symbol{
                font-size: 95px;
                letter-spacing: -20px;
            }
        }
        .about-page--main-header{
            .about-page--main-header-title{
                display: flex;
                flex-direction: column;
                h1{
                    font-family: 'Poppins-SemiBold', sans-serif;
                    font-size: 36px;
                    color: #222;
                    // outline: 1px solid red;
                }
                p{
                    font-family: 'Poppins-Medium', sans-serif;
                    font-size: 14px;
                    color: #777;
                    text-align: start;
                    // padding: 0 16px 0 0;
                    // outline: 1px solid red;
                }
            }
            .about-picture{

            }
        }
    }
    .about-page--right-section{
        width: 100%;
        margin-top: 30px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        .about-page--right-content{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: flex-start;
            flex-wrap: wrap;
            height: 100%;
            gap: 25px;
            .about-page--right-header-title{
                width: 400px;
                h1{
                    font-family: 'Poppins-SemiBold', sans-serif;
                    font-size: 36px;
                    color: #222;
                    text-align: center;
                }
                p{
                    font-family: 'Poppins-Medium', sans-serif;
                    font-size: 14px;
                    color: #777;
                    text-align: center;
                }
            }
        }
        
    }
}

@media only screen and (min-width: 320px) and (max-width: 479px) {
    .about-page--section-about {
        .about-page--left-section {
            .about-page--main-header {
                .about-page--main-header-title {
                    h1 {
                        font-size: 1.5rem;
                        text-align: center;
                    }
                    p {
                        font-size: 0.9rem;
                        text-align: justify;
                    }
                }
            }
        }

        .about-page--right-section {
            width: 300px;
            .about-page--right-content {
                height: auto;
                width: auto;
                .about-page--right-header-title {
                    width: auto;
                    h1 {
                        font-size: 1.5rem;
                    }
                    p {
                        font-size: 0.9rem;
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 480px) and (max-width: 799px) {
    .about-page--right-section {
        .about-page--right-content {
            .about-page--right-header-title {
                h1 {

                }
                p {
                    font-size: 0.8rem;
                }
            }
        }
    }
}

@media only screen and (min-width: 800px) and (max-width: 1023px) {

}

@media only screen and (min-width: 1024px) and (max-width: 1200px) {
    .about-page--section-about{
        flex-flow: wrap;
    }
    
}

@media only screen and (min-width: 1201px) and (max-width: 1600px) {

}
