
.uppernav-wrap{
    width: 100%;
    font-family: 'Poppins', sans-serif;
    color: #4d1c91;
    background: #fff;
    border-bottom: 2px solid black;
    box-shadow: 1px 1px 8px gray;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    height: 83px;
    z-index: 999;
    .uppernav-logo{
        display: flex;
        font-family: 'Poppins-', sans-serif;
        font-size: 40px;
        color: #fff;
        p{
            color: #0098ff;
        }
        .uppernav-logo--symbol{
            font-size: 45px;
        }

        img{
            max-height: 45px;
            max-width: 200px;
        }
    }
    .uppernav-navItems{
        display: flex;
        justify-content: space-around;
        width: 540px;
        height: 24px;
    }
    .uppernav-burger--wrap{
        display: none;
    }
    .uppernav-navItems a:hover, .uppernav-button:hover{
        color: black;
        font-size: 20px;
        transition: font-size 0.3s ease-in;
    }

    .uppernav-navItems a, .uppernav-button{
        transition: font-size 0.3s ease-in-out;
    }
}


@media only screen and (max-width: 991px) {
    .uppernav-wrap{
        justify-content: space-around;
        .uppernav-navItems{
            display: none;
        }
        .uppernav-button{
            display: none;
        }
        .uppernav-burger--wrap{
            display: block;
        }
    }
}



