
.service-offerings--backgroundImg {
    // background-image: url('../../../../public/assets/bv-services-bg.png');
    padding: 290px 0;
    background-color: #f2f4f7;
}

.service-offerings--background{
    margin-top: 100px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    .service-offerings--section{
        height: auto;
        width: 70%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .alice-carousel{
            display: flex;
            flex-direction: column-reverse;
            .alice-carousel__dots{
                border-bottom: 1px solid #9900ff;
                display: flex;
                justify-content: center;
                .alice-carousel__dots-item{
                    .service-offerings--data-style{
                        display: flex;
                        justify-content: center;
                        height: 135px;
                        font-weight: normal;
                        font-family: 'Poppins-SemiBold';
                        font-size: 12px;
                        margin-right: 20px;
                        padding: 0 10px;
                        border-radius: 10px 10px 0 0;
                        background-color: #fff;
                        cursor: pointer;
                        &[data-style='true']{
                            // font-weight: bold;
                            color: white;
                            background: linear-gradient(90deg, #9900ff 0%, #b75df3 100%);
                            .service-offerings--data-text{
                             .service-offerings--data-svg{
                                path{
                                    stroke: #FFFFFF;
                                }
                             }   
                            }
                        }
                        &:hover{
                            color: white;
                            background: linear-gradient(90deg, #9900ff 0%, #b75df3 100%);
                            transition: all 1s ease;
                            .service-offerings--data-text{
                                .service-offerings--data-svg{
                                   path{
                                       stroke: #FFFFFF;
                                   }
                                }   
                            }
                        }
                        .service-offerings--data-text{
                            display: flex;
                            flex-direction: column;
                            justify-content: flex-end;
                            align-items: center;
                            margin-bottom: 20px;
                            .service-offerings--data-svg{
                                height: 26px;
                                width: 26px;
                                path{
                                    stroke: #9900ff;
                                }
                            }
                            .service-offerings--data-title{
                                height: 54px;
                            }
                        }
                    }
                }
            }
        }

        .service-offerings--main-container{
            height: auto;
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: flex-start;
            
            .service-offerings--main-container-inner {
                height: auto;
                width: 60%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                .service-offerings--container-caption{
                    height: 750px;
                    width: 100%;
                    padding: 40px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-start;
                    .hero-left-content-action-item-call{
                        position: relative;
                        left: 2px;
                        height: 51px;
                        font-size: 12px;
                        font-family: 'Poppins-Medium', sans-serif;
                        padding: 14px;
                        width: 169px;
                        border-radius: 8px;
                        padding: 9px;
                        margin-top: 20px;
                        margin-right: 30px;
                        background: linear-gradient(90deg, #9900ff 0%, #b75df3 100%);
                        color: #fff;
                        &:hover {
                            background: white;
                            border: 1px solid #9900ff;
                            color: #22195e;
                            transition: all 0.8s;
                        }
                    }
                }
            }
            .service-offerings--container-img{
                width: auto;
                -webkit-user-drag: none;
                user-select: none;
                -moz-user-select: none;
                -webkit-user-select: none;
                -ms-user-select: none;
                top: 30vh;
                position: sticky;
                margin-top: 150px;
                padding-bottom: 200px;
                img {
                    height: 400px;
                    animation-name: img360;
                    animation-duration: 5s;
                    animation-delay: 0;
                    animation-timing-function: linear;
                    animation-iteration-count: infinite;
                }

            }
        }
    }
}

@keyframes img360 {
    // from {
        // transform: rotateY(0deg);
    // }
    // to {
        // transform: rotateY(360deg);
    // }
}


//Responsive Traits Screen
@media only screen and (min-width: 1200px) and (max-width: 3700px) {
    .service-offerings--background{
        .service-offerings--section{
            width: 70%;
            .alice-carousel{
                .alice-carousel__dots{
                    .alice-carousel__dots-item{
                        .service-offerings--data-style{
                            width: 256px;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .service-offerings--background{
        .service-offerings--section{
            width: 90%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-left: auto;
            margin-right: auto;
            .alice-carousel{
                .alice-carousel__dots{
                    .alice-carousel__dots-item{
                        .service-offerings--data-style{
                            width: 210px;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 991px) {
    .service-offerings--background{
        padding: 80px 0;
        .service-offerings--section{
            width: 92%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-left: auto;
            margin-right: auto;
            .service-offerings--container-caption{
                display: flex;
                // flex-direction: row !important;
                margin-bottom: 30px;
                .hero-left-content-action-item-call{
                    // align-self: flex-end;
                }
            }
            .alice-carousel{
                .alice-carousel__dots{
                    .alice-carousel__dots-item{
                        .service-offerings--data-style{
                            width: 156px;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 767px) {
    .service-offerings--background{
        .service-offerings--section{
            width: 90%;
            .alice-carousel{
                .alice-carousel__dots{
                    .alice-carousel__dots-item{
                        .service-offerings--data-style{
                            width: 120px;
                        }
                    }
                }
            }
            .service-offerings--main-container{
                display: unset;
            }
        }
    }
}

@media only screen and (max-width: 575px) {
    .service-offerings--background{
        .service-offerings--section{
            .alice-carousel{
                .alice-carousel__dots{
                    flex-flow: wrap;
                    .alice-carousel__dots-item{
                        .service-offerings--data-style{
                            width: 116px;
                        }
                    }
                }
            }
            .service-offerings--main-container{
                display: unset;
            }
        }

    }
}

//Smaller devices
@media only screen and (min-width: 350px) and (max-width: 450px) {
    .service-offerings--background{
        .service-offerings--section{
            .alice-carousel{
                .alice-carousel__dots{
                    .alice-carousel__dots-item{
                        margin-top: 10px;
                        .service-offerings--data-style{
                            height: 100px;
                            width: 90px;
                            margin-right: 10px;
                            padding: 0;

                            .service-offerings--data-text{
                                margin-bottom: 0;
                                padding: 5px;
                                .service-offerings--data-svg{
                                    height: 20px;
                                    width: 20px;
                                }
                                .service-offerings--data-title{
                                    height: 54px;
                                    font-size: 0.6rem;
                                }
                            }
                        }
                    }
                }
            }
            .service-offerings--main-container {
                display: unset;
                .service-offerings--container-caption{
                    align-items: center;
                    .section-title-v2-container{
                        width: 80%;
                    }
                    .hero-left-content-action-item-call{
                        border: 2px solid #9900ff;
                        height: 40px;
                        width: 140px;
                        border-radius: 5px;
                        font-size: 0.6rem;
                    }
                }
            }
        }

    }
}

@media only screen and (min-width: 320px) and (max-width: 340px) {
    .service-offerings--background {
        .service-offerings--section {
            margin-top: 0;
            .alice-carousel{
                .alice-carousel__dots {
                    .alice-carousel__dots-item {
                        margin-top: 10px;
                        .service-offerings--data-style {
                            height: 100px;
                            width: 80px;
                            margin-right: 10px;
                            padding: 0;

                            .service-offerings--data-text {
                                margin-bottom: 0;
                                padding: 5px;
                                .service-offerings--data-svg {
                                    height: 20px;
                                    width: 20px;
                                }
                                .service-offerings--data-title {
                                    height: 54px;
                                    font-size: 0.5rem;
                                }
                            }
                        }
                    }
                }
            }
            .service-offerings--main-container {
                display: unset;
                .service-offerings--container-caption{
                    align-items: center;
                }
                .section-title-v2-container{
                    width: 80%;
                }
                .hero-left-content-action-item-call{
                    border: 2px solid #9900ff;
                    height: 40px;
                    width: 140px;
                    border-radius: 5px;
                    font-size: 0.6rem;
                    margin-top: 15px;
                }
            }
        }

    }
}