
#highlights-outer-container {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  
  #city-scapes-bg {
    height: 400px;
    width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: -150px;
    z-index: -1;
  
  #city-scapes-img {
      height: 400px;
      width: 1000px;
    }
  }

  #highlights-inner-container {
    width: 100%;
    padding-top: 150px;

    .highlights-container-style-two {
      flex-direction: row-reverse !important;
    }
    
    .highlights-container {
      height: auto;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 100px;
      z-index: 0;
      position: relative;
      
      // remove if things does bad
      .highlights-outer-left-sectionn-style-two {
        justify-content: flex-start !important;
      }

      .highlights-outer-left-sectionn {
        height: auto;
        width: 900px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        position: relative;

        // bubbles baby 
        .highlights-bubble-one {
          height: 70px;
          width: 70px;
          // background-color: rgba(#9900FF, 1);
          background-color: rgba(74, 82, 247, 0.7);
          position: absolute;
          border-radius: 100%;
          z-index: -1;
          top: -30px;
          left: 150px;
          transform: translateZ(-20px);
          animation: bubbleBounce 8s linear 0s infinite;
        }

        .highlights-bubble-two {
          // height: 120px;
          // width: 120px;
          // background-color: rgba(#4A52F7, 0.3);
          // position: absolute;
          // border-radius: 100%;
          // z-index: -1;
          // top: -70px;
          // left: 40px;
          // animation: bubbleBouncee 7s linear 0s infinite;
        }

        .highlights-inner-left-section {
          height: auto;
          width: 700px;
          border-radius: 30px;
          font-family: 'Poppins', sans-serif;
          background: rgba(255, 255, 255, 0.7);
          backdrop-filter: blur(0px);
          box-shadow: 2px 2px 2px 2px rgba(75, 82, 247, 0.2);
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 10px;
          padding: 30px;
  
          .highlights-featMsg {
            font-size: 1.5rem;
            color: #4750FF;
            z-index: 3;
          }
      
          .highlights-title {
            font-family: 'Poppins-SemiBold', sans-serif;
            font-size: 2.5rem;
          }
      
          .highlights-cta {
            height: auto;
            width: 250px;
            padding: 10px 0;
            background-color: #4A52F7;
            font-size: 1.2rem;
            color: white;
            border-radius: 20px;
            text-align: center;
            margin-bottom: 10px;
          }
      
          .highlights-footerText {
            
          }
        }
      }

      .highlights-right-section {
        
        .highlights-img {
          height: 600px !important;
        }
      }

    }
  }
}

// bounce bounce baby
@keyframes bubbleBounce {
  0% {
    transform: translate(150px);
  }

  50% {
    transform: translate(200px);
  }

  100% {
    transform: translate(150px);
  }
}

// bounce bounce baby
@keyframes bubbleBouncee {
  0% {
    transform: translate(10px, -20px);
  }

  50% {
    transform: translate(10px, 5px);
  }

  100% {
    transform: translate(10px, -20px);
  }
}