#brandAreaOuterContainer {
    height: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #f2f4f7;
    .brand-container {
        height: auto;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        overflow: hidden;
    
        .brand-item {
        }
    
        img{
            height: 150px;
        }
    }
}

//Responsive Traits Screen
@media only screen and (min-width: 992px) and (max-width: 1200px) {
}

@media only screen and (max-width: 991px) {
    .carousel-wrap{
        width: 78%;
    }
}

@media only screen and (max-width: 767px) {
}

@media only screen and (max-width: 575px) {
}