#hris-service-outer-container {
  height: auto;
  width: 100%;
  padding-top: 150px;

  #hris-service-inner-container {
    height: auto;
    width: 100%;
    
    #section-one {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      gap: 150px;

      #section-one-container-one {
        color: #282828;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;

        #section-one-featMsg {
          font-size: 1.4rem;
          font-family: 'poppins', sans-serif;
          opacity: 0.8;
        }

        #section-one-title {
          width: 70%;
          font-size: 3.1rem;
          font-family: 'poppins-semibold', sans-serif;
          line-height: 50px ;
        }

        #section-one-desc {
          font-size: 1.2rem;
          font-family: 'poppins', sans-serif;
          opacity: 0.8;
        }
      } 

      #section-one-container-two {
        height: 400px;
        width: 95%;
        background: linear-gradient(to right, #4DA4FC, #CD65E3);
        border-radius: 25px;
        position: relative;

        #section-one-inner-container-two {
          height: 400px;
          width: 100%;
          position: absolute;
          top: -70px;
          left: 50%;
          transform: translate(-50%);
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: flex-start;
          gap: 20px;

          #hris-image {
            height: 100%;
            width: 400px;
          }

          #hris-container {
            display: flex;
            flex-direction: column;
            gap: 20px;

            #hris-announcement {
              height: 100px;
              width: 100%;
              background: rgba(255, 255, 255, 0.4);
              backdrop-filter: blur(8px);
              box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.1);
              border-radius: 25px;
              display: flex;
              flex-direction: row;
              padding-left: 20px;
              justify-content: flex-start;
              align-items: center;
              gap: 15px;

              #hris-announcement-profile {
                height: 70px;
              }

              #hris-announcement-texts {
                color: #282828;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                #hris-announcement-title {
                  font-family: 'poppins-semibold', sans-serif;
                  font-size: 1.1rem;
                }

                #hris-announcement-desc {
                  font-family: 'poppins', sans-serif;
                  font-size: 0.9rem;
                }
              }
            }

            #hris-user-container {
              display: flex;
              flex-direction: row;
              gap: 20px;

              .hris-user {
                border-radius: 25px;
                height: 280px;
                width: auto;
                color: #282828;
                background: rgba(255, 255, 255, 0.4);
                backdrop-filter: blur(8px);
                box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.1);
                padding: 20px;
                display: flex;
                flex-direction: column;
                gap: 15px;

                .hris-user-header-section {
                  width: 100%;
                  display: flex;
                  flex-direction: row;
                  justify-content: flex-start;
                  gap: 15px;

                  .hris-user-profile {
                    height: 70px;
                  }

                  .hris-user-texts {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-start;

                    .hris-user-name {
                      font-family: 'poppins-semibold', sans-serif;
                      font-size: 1.1rem;
                    }

                    .hris-user-position {
                      font-family: 'poppins', sans-serif;
                      font-size: 0.9rem;
                    }
                  }
                }

                .hris-user-body-section {
                  display: flex;
                  flex-direction: column;
                  justify-content: center;
                  align-items: flex-start;
                  padding-top: 15px;
                  font-family: 'poppins', sans-serif;
                  .hris-user-body-item-one {
                    opacity: 0.8;
                  }

                  .hris-user-body-item-two {
                    color: #4DA4FC;
                  }

                  .hris-user-body-item-three {
                    opacity: 0.8;
                  }
                }

                .hris-user-footer-section {
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  gap: 20px;
                  font-family: 'poppins', sans-serif;
                  .hris-user-button-one {
                    padding: 10px 30px;
                    background-color: #4DA4FC; 
                    color: white;    
                    font-size: 0.9rem;    
                    border-radius: 8px;           
                  }

                  .hris-user-button-two {
                    padding: 10px 30px;
                    background-color: #4DA4FC; 
                    color: white;  
                    font-size: 0.9rem;
                    border-radius: 8px;           
                  }
                }
              }
            }
          }

          #hris-payroll-time-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 20px;

            #hris-payroll {
              height: 200px;
              width: auto;
              border-radius: 25px;
            }

            #hris-timein-container {
              height: auto;
              width: 100%;
              background: rgba(255, 255, 255, 0.4);
              backdrop-filter: blur(8px);
              box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.1);
              border-radius: 25px;
              display: flex;
              flex-direction: column;
              padding-left: 20px;
              justify-content: flex-start;
              align-items: center;
              gap: 15px;
              padding: 20px;

              #hris-timein-header-section {
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                gap: 15px;

                #hris-timein-profile {
                  height: 70px;
                }
  
                #hris-timein-texts {
                  color: #282828;
                  display: flex;
                  flex-direction: column;
                  justify-content: center;
                  align-items: flex-start;
                  #hris-timein-date {
                    font-family: 'poppins-semibold', sans-serif;
                    font-size: 1.1rem;
                  }
  
                  #hris-timein-time {
                    font-family: 'poppins', sans-serif;
                    font-size: 0.9rem;
                  }
                }
              }

              #hris-timein-buttons {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 20px;
                font-family: 'poppins', sans-serif;
                #hris-timein-button-one {
                  padding: 10px 30px;
                  background-color: #4DA4FC; 
                  color: white;    
                  font-size: 0.9rem;    
                  border-radius: 8px;          
                }

                #hris-timein-button-two {
                  padding: 10px 30px;
                  background-color: #4DA4FC; 
                  color: white;  
                  font-size: 0.9rem;
                  border-radius: 8px;           
                }
              }
            }
          }
        }
      }
    }

    #section-two {
      padding-top: 150px;
      color: #282828;
      #section-two-container-one {
        height: auto;
        width: 100%;
        padding: 50px;
        display: flex;
        justify-content: center;
        align-items: center;

        #section-two-header-container {
          width: 60%;
          text-align: center;
          #section-two-header-title {
            font-family: 'poppins-semibold', sans-serif;
            font-size: 3rem;
            line-height: 50px;
            margin-bottom: 15px;
          }

          #section-two-header-desc {
            font-family: 'poppins', sans-serif;
            font-size: 1.1rem;
            opacity: 0.8;
          }
        }
      }

      #section-two-container-two {
        height: auto;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 60px;
        position: relative;

        #floater {
          height: 300px;
          width: 100%;
          background: linear-gradient(to right, #4DA4FC, #CD65E3);
          position: absolute;
          bottom: -200px;
        }

        .section-two-container-two-item {
          height: 400px;
          width: 350px;
          display: flex;
          flex-direction: column;
          align-items: center;
          color: #282828;
          text-align: center;
          padding: 50px 20px;
          gap: 15px;
          background: rgba(255, 255, 255, 0.02);
          backdrop-filter: blur(8px);
          // box-shadow: 2px 2px 2px 2px rgba(75, 82, 247, 0.2);
          box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.1);
          border-radius: 25px;
          transition: all 1s linear;
          cursor: pointer;

          &:hover {
            background: rgba(255, 255, 255, 1);
          }

          .hris-item-img {
            height: 100px;
          }

          .hris-item-title {
            font-family: 'poppins-semibold', sans-serif;
            font-size: 1.8rem;
          }

          .hris-item-desc {
            font-family: 'poppins', sans-serif;
            font-size: 1rem;
            opacity: 0.8;
          }
        }

      }
    }

    #section-three {

    }
  }
}