.contact-input--label{
    width: 50%;
    display: flex;
    align-items: center;
}

.contact-input--input{
    width: 50%;
    height: 35px;
    padding-left: 15px;
    font-size: 14px;
    border-radius: 5px;
}