* {
    margin: 0;
    box-sizing: border-box;
}

.org--wrap{
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
    margin: 5vw;
}

@keyframes fadeIn {
    from{
        opacity: 0;
    }
    to {
        opacity: 1;
    }
    
}

.org-header{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}

.org-header h1{
    font-family: 'Poppins-SemiBold', sans-serif;
    font-size: 4rem;
    background: rgb(77,28,145);
    // background: linear-gradient(90deg, rgba(77,28,145,1) 0%, rgba(77,28,145,1) 35%, rgba(85,102,116,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.org-header h1 p{
    font-family: 'Poppins-Bold', sans-serif;
    display: inline;

}

.org-content{
    height: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.org-card{
}

// .org-card:hover{
//     box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
//     transform: scale(1.1);
//     transition: all 0.3s ease-in;

// }


// SECTIONS
#sectionOne {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#sectionTwo {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

#innerOneSectionTwo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
}

#innerTwoSectionTwo {  
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#sectionThree, #sectionFour {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    margin-top: 40px;
}

#innerOneSectionThree, #innerTwoSectionThree, #innerOneSectionFour, #innerTwoSectionFour {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    gap: 40px;
}

.orgCard {
    height: auto;
    width: 250px;
    border-radius: 5%;
    position: relative;
}

.bookMarkIconOne {
    height: 25px;
    width: 30px;
    position: absolute;
    left: 25px;
}

.bookMarkIconTwo {
    height: 25px;
    width: 30px;
    position: absolute;
    top: 0;
    left: 50px;
}

.org-card, .org-card p, .org-card h2{
    display: flex;
    justify-content: center;
    align-items: center;
}

.org-card-img{
    width: 250px;
    height: 300px;
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-top-left-radius: 2%;
        border-top-right-radius: 2%;
        // border-radius: 5%;
        // background: rgb(77,28,145);
        // background: linear-gradient(90deg, rgba(77,28,145,1) 0%, rgba(77,28,145,1) 50%, rgba(85,102,116,1) 100%) border-box;
        // border: 5px solid transparent;
    }
}

.org-card-content{
    width: 250px;
    flex: 1;
    // background-color: black;
    background: rgba(255, 255, 255, 0.02);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.1);
    backdrop-filter: blur(0px);
    border-bottom-left-radius: 2%;
    border-bottom-right-radius: 2%;
    border: 1px solid rgba(255, 255, 255, 0.18);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 10px 0 10px 0;
}

.org-card-content .team-fullName{
    font-family: 'Poppins-SemiBold', sans-serif;
    font-size: 20px;
    color: #222;
}

.org-card-content .team-content{
    font-family: 'Poppins-Medium', sans-serif;
    font-size: 14px;
    color: #777;
}

.org-card-content .team-position{
    font-family: 'Poppins-Medium', sans-serif;
    font-size: 16px;
    color: #222;
    // color: white;
}

.org-card-social{
    display: flex;
    justify-content: center;
    align-items: center;       
    margin: 10px 0;      

}

.org-card-social a:hover{
    transform: scale(1.2);
    transition: all 0.3s ease-in;
}

.org-card-social a{
    margin: 0 5px;
    transition: all 0.3s ease-in-out;   
}

// new css team profile :)

// remove after fixing layout
#sectionTwoFirstInner, #newSectionThree, #newSectionThreeInnerCtn {
    height: auto;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

#sectionThreeInnerCtnTwo {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

#sectionTwoSecondInner, #newInnerSectionThree {
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}

#newInnerSectionThree {
    margin-top: 70px;
}

#sectionTwoSecondInner {
    padding-top: 30px;
}

.sectionTwoSecondInnerHeader, .sectionThreeSecondInnerHeader { 
    font-family: 'Poppins-SemiBold', sans-serif;
    font-size: 2.3rem;
    background: rgb(77,28,145);
    // background: linear-gradient(90deg, rgba(77,28,145,1) 0%, rgba(77,28,145,1) 35%, rgba(85,102,116,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}

#sectionTwoSecondInnerCtnOne, #sectionTwoSecondInnerCtnTwo {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

@media only screen and (min-width: 320px) and (max-width: 399px) {
    .org-header h1 {
        font-size: 2.1rem;
    }

    #newSectionThree {
        margin-top: 5px;
    }

    #sectionTwo {
        flex-direction: column;
    }

    .orgCard, .org-card-content {
        width: 160px;
    }

    .org-card-img {
        width: 160px;
        height: 210px;
    }

    #innerTwoSectionThree, #innerOneSectionThree, #innerTwoSectionFour, #innerOneSectionFour {
        gap: 15px !important;
        flex-direction: column;
    }

    #innerTwoSectionThree {
        flex-direction: column-reverse !important;
    }

    #innerTwoSectionFour {
        flex-direction: row;
    }

    .team-fullName, .team-position {
        font-size: 0.8rem !important;
    }

    .bookMarkIconOne {
        left: 0px;
    }

    .bookMarkIconTwo { 
        left: 25px;
    }

    .sectionTwoSecondInnerHeader, .sectionThreeSecondInnerHeader {
        font-size: 1.1rem;
    }

    #sectionTwoSecondInnerCtnOne, #sectionTwoSecondInnerCtnTwo, #sectionThreeInnerCtnTwo {
        gap: 15px;
    }
}

@media only screen and (min-width: 400px) and (max-width: 789px) {
    .org-header h1 {
        font-size: 2.5rem;
    }

    #newSectionThree {
        margin-top: 5px;
    }

    #sectionTwo {
        flex-direction: column;
    }

    .orgCard, .org-card-content {
        width: 160px;
    }

    .org-card-img {
        width: 160px;
        height: 210px;
    }

    #innerTwoSectionThree, #innerOneSectionThree, #innerTwoSectionFour, #innerOneSectionFour {
        gap: 25px !important;
        flex-direction: column;
        align-items: center;
    }

    #innerTwoSectionThree {
        flex-direction: column-reverse !important;
    }

    #innerTwoSectionFour {
        flex-direction: row;
    }

    .team-fullName, .team-position {
        font-size: 0.8rem !important;
    }

    .bookMarkIconOne {
        left: 0px;
    }

    .bookMarkIconTwo { 
        left: 25px;
    }

    .sectionTwoSecondInnerHeader, .sectionThreeSecondInnerHeader {
        font-size: 1.5rem;
    }

    #sectionTwoSecondInnerCtnOne, #sectionTwoSecondInnerCtnTwo, #sectionThreeInnerCtnTwo {
        gap: 25px;
    }
}

@media only screen and (min-width: 790px) and (max-width: 900px) {
    .org-content{
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    #sectionTwo {
        flex-direction: column;
    }

    .orgCard, .org-card-content {
        width: 180px;
    }

    .org-card-img {
        width: 180px;
        height: 230px;
    }

    #innerTwoSectionThree, #innerOneSectionThree, #innerTwoSectionFour, #innerOneSectionFour, #sectionThreeInnerCtnTwo {
        gap: 15px !important;
    }

    .team-fullName, .team-position {
        font-size: 0.8rem !important;
    }
}

// @media only screen and (min-width: 1199px)

@media only screen and (min-width: 901px) and (max-width: 1199px) {
    #sectionTwo {
        flex-direction: column;
    }

    #newSectionThree {
        margin-top: 20px;
    }

    .orgCard, .org-card-content {
        width: 200px;
    }

    .team-fullName, .team-position {
        font-size: 0.9rem !important;
    }

    .org-card-img{
        width: 200px;
        height: 250px;
    }

    #innerTwoSectionThree, #innerOneSectionThree, #innerTwoSectionFour, #innerOneSectionFour, #sectionThreeInnerCtnTwo {
        gap: 20px !important;
    }
}

@media only screen and (min-width:1200px) and (max-width: 1600px) {
    .org-content{
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    .orgCard, .org-card-content {
        width: 200px;
    }

    .team-fullName, .team-position {
        font-size: 0.9rem !important;
    }

    .org-card-img{
        width: 200px;
        height: 250px;
    }

    #sectionTwoSecondInnerCtnOne, #sectionTwoSecondInnerCtnTwo, #innerTwoSectionThree, #innerOneSectionThree, #innerTwoSectionFour, #innerOneSectionFour, #sectionThreeInnerCtnTwo {
        gap: 20px !important;
    }
}