
.product-carousel--section {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
    margin-left: auto;
    margin-right: auto;

    .alice-carousel {
        .alice-carousel__dots {
            li {
                div {
                    margin-right: 30px !important;
                }
            }
        }
    }

    .product-carousel--main-container{
        display: flex;
        .product-carousel--container-caption{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            // .section-title-v2-container{
            //     width: 100%;
            // }

            .hero-left-content-action-item-call{
                position: relative;
                left: 2px;
                height: 51px;
                font-size: 12px;
                font-family: 'Poppins-Medium', sans-serif;
                padding: 14px;
                width: 169px;
                border: 3px solid #9900ff;
                border-radius: 8px;
                padding: 9px;
                // box-sizing: border-box;
                color: #22195e;
                margin-right: 30px;
                &:hover{
                    background: linear-gradient(90deg, #9900ff 0%, #b75df3 100%);
                    color: #fff;
                    transition: all 0.5s ease;
                    border: transparent;
                }
            }
        }
        .product-carousel--container-img{
            -webkit-user-drag: none;
            user-select: none;
            -moz-user-select: none;
            -webkit-user-select: none;
            -ms-user-select: none;
        }
    }
}




//Responsive Traits Screen
@media only screen and (min-width: 1200px) and (max-width: 3700px) {
    .product-carousel--section{
    }
}


@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .product-carousel--section{
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
    }
}

@media only screen and (max-width: 991px) {
    .product-carousel--section {
        width: 70%;
        .product-carousel--main-container {
            .product-carousel--container-caption {
                .hero-left-content-action-item-call {
                    margin: 20px 0 20px 0;
                }
            }
        }
    }
}

@media only screen and (min-width: 320px) and (max-width: 500px) {
    .product-carousel--section {
        width: 95%;
        .alice-carousel {
            .alice-carousel__dots {
                li {
                    div {
                        font-size: 0.9rem !important;
                        margin-right: 20px !important;
                    }
                }
            }
        }

        .product-carousel--main-container {
            .product-carousel--container-caption {
                align-items: center;
                width: 100%;
                .hero-left-content-action-item-call {
                    margin-top: 20px;
                }
            }
        }
    }
}